@model Controls.DateRange.Models.DateRangeModel
@using System.Globalization
@using WebLib.UI
@{
    Layout = "";
    Html.AddCssFileParts("~/plugins/DateRange/css/DateRange.css");  
    Html.AddScriptParts("~/plugins/DateRange/js/DateRange.js");  
}
@if (Model.Mode != LIB.AdvancedProperties.DisplayMode.AdvancedEdit && Model.Mode != LIB.AdvancedProperties.DisplayMode.Search && Model.Mode != LIB.AdvancedProperties.DisplayMode.PrintSearch)
{ 
    <div class="control-DateRange control-view">
        @(Model.Value.from!=DateTime.MinValue? (Model.ShowTime ? Model.Value.from.ToString("dd/MM/yyyy HH:mm") : Model.Value.from.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)): "")
    </div>
}
    @if (Model.Mode == LIB.AdvancedProperties.DisplayMode.PrintSearch)
{
    @(Model.Value.from != DateTime.MinValue ? (Model.Value.to == DateTime.MinValue?"începînd cu ":"")+(Model.ShowTime?Model.Value.from.ToString("dd/MM/yyyy HH:mm", CultureInfo.InvariantCulture) : Model.Value.from.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)) : "")@(Model.Value.from != DateTime.MinValue && Model.Value.to != DateTime.MinValue ? " - " : "")@(Model.Value.to != DateTime.MinValue ? (Model.Value.from == DateTime.MinValue ? "Pîna la " : "") + (Model.ShowTime ? Model.Value.to.ToString("dd/MM/yyyy HH:mm") : Model.Value.to.ToString("dd/MM/yyyy")) : "")
}
    @if (!Model.ReadOnly)
{
    <div data-control="DateRange" class="control-DateRange control-edit@((Model.Mode == LIB.AdvancedProperties.DisplayMode.AdvancedEdit || Model.Mode == LIB.AdvancedProperties.DisplayMode.Search)?" displayblock":"")">
        @Html.Partial("../Controls/_textbox", Model.TextBoxFrom)
    @if (Model.ShowTime) {
@: <div class="hour-input-caption">Ora:</div>
        @: @Html.Partial("../Controls/_textbox", new Weblib.Models.Common.TextboxModel()
   {
       Class = "input input-small",
       MaxLength = 2,
       OnKeyUp = "isHourKey(this)",
       OnKeyPress = "return isNumberKey(event)",
       Value = Model.Value.from != DateTime.MinValue ? Model.Value.from.ToString("HH") : "",
       Name = Model.TextBoxFrom.Name + "_Hours"
   })
        @: @Html.Partial("../Controls/_textbox", new Weblib.Models.Common.TextboxModel()
   {
       Class = "input input-small",
       MaxLength = 2,
       OnKeyUp = "isMinuteKey(this)",
       OnKeyPress = "return isNumberKey(event)",
       Value = Model.Value.from != DateTime.MinValue ? Model.Value.from.ToString("mm") : "",
       Name = Model.TextBoxFrom.Name + "_Minutes"
   })
    }
        <div class="control-defis"> - </div>
        @Html.Partial("../Controls/_textbox", Model.TextBoxTo)
    @if (Model.ShowTime)
    {
        @: <div class="hour-input-caption">Ora:</div>
        @: @Html.Partial("../Controls/_textbox", new Weblib.Models.Common.TextboxModel()
   {
       Class = "input input-small",
       MaxLength = 2,
       OnKeyUp = "isHourKey(this)",
       OnKeyPress = "return isNumberKey(event)",
       Value = Model.Value.to != DateTime.MinValue ? Model.Value.to.ToString("HH") : "",
       Name = Model.TextBoxTo.Name + "_Hours"
   })
        @: @Html.Partial("../Controls/_textbox", new Weblib.Models.Common.TextboxModel()
   {
       Class = "input input-small",
       MaxLength = 2,
       OnKeyUp = "isMinuteKey(this)",
       OnKeyPress = "return isNumberKey(event)",
       Value = Model.Value.to != DateTime.MinValue ? Model.Value.to.ToString("mm") : "",
       Name = Model.TextBoxTo.Name + "_Minutes"
   })
    }
        <div class="clear"></div>
    </div>
}