@using System.Web.Optimization
@using WebLib.UI
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/images/favicon.png" rel="shortcut icon" type="image/png" />
    <script type="text/javascript">
        var gRootUrl = '@LIB.Tools.Utils.URLHelper.GetUrl("")';
    </script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/styles/common")
    @Styles.Render("~/styles/full")
    @Styles.Render("~/styles/super_back_common")
    @Styles.Render("~/styles/super_back_full")
    @Styles.Render("~/styles/bootstrap")
    @Styles.Render("~/styles/back_full")
    @Scripts.Render("~/scripts/jquerylib")
    @Scripts.Render("~/scripts/jquery-ui")
    @Scripts.Render("~/scripts/jquery-upload")
    @Scripts.Render("~/scripts/jquery-download")
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/commonlib")
    <script type="text/javascript" src="@LIB.Tools.Utils.URLHelper.GetUrl("Scripts/Other_Plugins/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@LIB.Tools.Utils.URLHelper.GetUrl("Scripts/JQuery/jquery.ckeditor.js")"></script>
    @Scripts.Render("~/scripts/back_common")
    @Html.BuilderCssFiles(this.Url, ResourceLocation.Head)
    @Html.BuilderScripts(this.Url, ResourceLocation.Head)
</head>
<body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">
        @Html.Partial("../Layout/SuperAdmin/_Header")
        @Html.Partial("../Layout/SuperAdmin/_Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        @Html.Partial("../Layout/SuperAdmin/_Footer")
        @Html.Partial("../Layout/SuperAdmin/_PopUpSidebar")
    </div>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
</body>
</html>

